


$table-border-color: rgba(0,0,0,.12) !default;
$table-striped-color: rgba(242, 242, 242, 0.5) !default;
$small: 768px;
$medium: 992px;
$large: 1368px;
$min_height: 400px;
$font: 14px;
$el_padding: 5px;

$font_white: #FFFFFF;
$bcg_color: #F9F9F9;
$hd_color: #0A397C;

$el_color:  #f1f1f2;

$color_grey:  grey;
 
