* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


@import "components/variables";
@import "components/global";
@import "fonts/nunito";


html, body {
   font-size: $font_size;
}
.row {
   display: flex;
   flex-wrap: wrap;
   margin-top: -1rem;
   margin: 0 auto; //-1rem -0.5rem 0 -0.5rem;
}
.element {
   background-color: #f1f1f2;
   height: 2rem;
   height:400px;
   box-shadow: 2px 2px 3px lightgrey;
   border-radius: 4px;
   padding: 5px;
   -webkit-transition: all 500ms ease;
   -moz-transition: all 500ms ease;
   -ms-transition: all 500ms ease;
   -o-transition: all 500ms ease;
   transition: all 500ms ease;
   h2 {
      padding: 0.5rem;
   }
   info {
      height: 400px;
   }
   &:hover {
      background-color: #F9F9F9;
      box-shadow: 4px 4px 5px lightgrey;
   }
}

@media (min-width: $small) {
.container {
   width: 100%;
}
div.element.info {
   height: 100px;
}
@for $i from 1 through 12 {
   .col-xs-#{$i} {
       margin-top: 1rem;
       padding: 0 0.5rem;
       width: 100% * ($i / 12);
     
      }
   }
}


@media (min-width: $medium) {
.container {
   width: 90%;
}
div.element.info {
   height: 400px;
}

   @for $i from 1 through 12 {
      .col-m-#{$i} {
          margin-top: 1rem;
          padding: 0 0.5rem;
          width: 100% * ($i / 12);
        
         }
      }
   }

@media (min-width: $large) {
      .container {
         width: $large;
      }
         @for $i from 1 through 12 {
            .col-l-#{$i} {
                margin-top: 1rem;
                padding: 0 0.5rem;
                width: 100% * ($i / 12);
              
               }
            }
}

.container {
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 5rem;
}



body {
   font-family: 'nunitoregular',Arial, Helvetica, sans-serif;
   background-color: #F9F9F9;
   
  
}

.entryImg {
   background-image:url('../images/land.jpg');
   background-repeat:no-repeat;
   height:100vh;
   width:100vw;
   background-position: center; 
   background-size: cover;
   display:flex;
   align-items: center;
   justify-content: center;
   
}

.stick-header{
   background-color: #0A397C;
   height: 5rem;
   position: fixed;
   top: 0;
   width: 100%;
   display:flex;
   align-items: center;
   justify-content: center;
   box-shadow: 4px 4px 5px lightgray;

header {
   color: white;
   margin: 0 auto;
   width: $large;
   height:100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-radius: 2px;
  
   
   .inHeader {
      width: 14rem;
      color: grey;
      }
   }
}

footer {
width: 100%;
position: fixed;
bottom: 0;
height: 5rem;
display:flex;
align-items: center;
justify-content: center;
.stick-footer {
   width: $large;
   margin: 0 auto;
   height: 100%;
   }
}




section {
   background-color: #f4ff7c;
   height: 15rem;
   padding: 6px;
}

.right-sidebar {
   background-color: #58c2e9;
   height: 15rem;
}
.backDiv{
   position: absolute;
   bottom: -6rem;
   left:-4rem;
   width: 100rem;
   height: 15rem;
   background-color: black;
   opacity: 0.4;
   z-index: -1;
}
.centerDiv {
   position: relative;
   width: 400px;
   border-radius: 5px;
   padding: 10px;
   height: 100px;
   // position: absolute;
   // margin-top: -25px;
   // margin-left: -200px;
   // top: 50%;
   // left: 50%;

   z-index: 2;
   
   h1, h2, h3 {
      z-index: 3;
      line-height: 2rem;
      padding-top: 1rem;
      width: 40rem;
      color: white;
      font-family: 'nunitolight', Arial, Helvetica, sans-serif;
   }
   .selector {
      width:200px;
      z-index: 4;
      padding-bottom: 1rem;
   }
}


.info {
   overflow: auto;
   line-height: 1.5rem;
   &::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 2px;
   }
   
      &::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: darkgray;
      opacity: 0.5;
      }
}


.navigation {
   display:flex;
   align-items: center;
   justify-content: center;
   flex-direction: row-reverse;
   margin: 0 auto;
   background: rgb(255,255,255);
   background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);
   background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(246,246,246) 47%,rgb(237,237,237) 100%);
   background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(246,246,246) 47%,rgb(237,237,237) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
   background-color: #9BB5FF;
   height: 100%;
   border-radius: 2px;
}

      button.circle {
         -webkit-transition: all 200ms ease;
         -moz-transition: all 200ms ease;
         -ms-transition: all 200ms ease;
         -o-transition: all 200ms ease;
         transition: all 200ms ease;
         display:flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         align-content: center;
         border-radius: 50%;
         width: 4em;
         height: 4em;
         margin: 1rem;
         box-shadow:  2px 2px 2px 2px  whitesmoke;
         background-color: #EFEFEF;

         &:active {
            color: white;
         }
         &:focus {
            background-color: white;
            outline: 0;
         }
         &:visited {
            background-color: white;
         }

         &:hover {
            box-shadow: 1px 1px 1px 1px lightgray;
            border: 1px solid white;
         }
      
      }
      button.currYear {
         width: 5em;
         height:5em;
         margin: 1em;
         color: pink;
      }
